.aboutCnt {
    width: 100%;
}

.aboutCnt > * {
    width: 100%;
    margin: 0 auto;
}

.expCnt {
    width: 100%;
}

.expAge {
    height: 60vh;
    background: url('../../images/clean.jpg') no-repeat center;
    background-size: cover;
    position: relative;
}

.expAge h2 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

.aboutInfo {
    width: 100%;
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 100px 40px #5d88f4 inset;
    background-color: #92adf2;
}

.stafImg {
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative;
}

.stafImg img {
    width: 80%;
}

.stafInfo {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.stafInfo h2 {
    font-size: 22px;
}

.stafInfo p {
    font-size: 18px
}

/*************
partner place
**************/

.partnerCnt {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.partnerCount {
    height: 70vh;
    position: relative;
    background: url('../../images/partner.jpg') no-repeat center;
    background-size: cover;
}

.partnerCount h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

.partnerLogo {
    height: 20vh;
    display: flex;
}

/*************
slide place
**************/

.iconSlideContainer {
    height: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slideItems {
    display: flex;
    align-items: center;
    animation: slider 30s infinite linear;
}

.item {
    border-radius: 10px;
    min-width: 300px;
    margin: 0px 30px;
    position: relative;
}

.item img {
    width: 70%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

@keyframes slider {
    form {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


@media screen and (max-width: 1200px) {
    .stafInfo h2 {
        font-size: 18px;
    }
    .stafInfo p {
       font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .expAge {
        height: 50vh;
    }
    .expAge h2 {
        font-size: 4vw;
    }
    .aboutInfo {
        flex-direction: column;
        padding: 20px 0;
    }
    .stafImg {
        width: 50%;
    }
    .stafInfo {
        width: 80%;
    }
    .partnerCount {
        height: 50vh;
    }
    .partnerCount h2 {
        font-size: 4vw;
    }
}

@media screen and (max-width: 768px) {
    .stafImg {
        width: 70%;
    }
    .stafInfo {
        width: 90%;
    }
}